*{
    margin: 0;
    padding: 0;
}
.wrap{
margin-top: 138px;
}
.wrap img{
    width: 100%;
    height: 400px;
}
.wrap .wrao_con{
    width: 270px;
    margin: 0 auto;
    margin-top: 15px;
}
.wrap .wrao_con span{
    display: inline-block;
    width: 40px;
    border-right: 1px solid black;
    font-weight: 600;
    color: #ccc;
    /* margin-left: 20px; */
}
.wrap1{

}
.wrap1 .wrap1Img{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}
.wrap1 .wrap1Img img{
    width: 100%;

}